<div class="main-container">

  <div class="upper-part">
    <div style="display: flex;">
      <div class="left-pane">
        <img class="logo" src="../assets/logo.png" alt="">
        <div class="d-flex">
          <img class="blob-small" src="../assets/blob-small.svg" alt="blob-small" width="571" height="572">
          <div class="super-text">
            <img src="../assets/We make it Super Sim.svg" alt="">
            <div class="rectangle-black"></div>
            <img style="margin-left: -69px" src="../assets/collect_img-video.png" alt="">
            <div>
              <img style="float: right; margin: -34px -100px 0px 0px;" src="../assets/accounting_dots.svg" alt="">
            </div>
          </div>
        </div>
      </div>
      <div class="right-pane">
        <div style="margin-left: 252px;">
          <div class="d-flex">
            <div class="nav" routerLink="#">Products</div>
            <div class="nav" style="margin-left: 50px;" routerLink="#">Solutions</div>
            <div class="nav" style="margin-left: 50px;" routerLink="#">Pricing</div>
            <div class="nav login center-text" style="margin-left: 60px;" routerLink="#">Login</div>
            <div class="nav get-started center-text" style="margin-left: 24px;" routerLink="#">Get Started</div>
          </div>
          <div class="group-6">
            <img src="../assets/Group 6.svg" alt="">
          </div>
          <img style="float: right; margin: 23px 32px 0px 0px;" src="../assets/accounting_dots.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="bottom-part">
    <div class="d-flex">
      <div style="margin-left: 191px;">
        <div class="box-container">
          <img src="../assets/Get Paid Instantly.png" alt="">
          <img class="img-txt-margin" src="../assets/Quick cash disbursem.svg" alt="">
          <img src="../assets/Get terms loans that.svg" alt="">
        </div>
        <div class="box-container">
          <img src="../assets/Low interest rate.png" alt="">
          <img class="img-txt-margin" src="../assets/Low-interest rate.svg" alt="">
          <img src="../assets/Achieve your financi.svg" alt="">
        </div>
        <div class="box-container">
          <img src="../assets/Secure Payments.png" alt="">
          <img class="img-txt-margin" src="../assets/Zero Paperwork.svg" alt="">
          <img src="../assets/Get started instantl.svg" alt="">
        </div>
      </div>
      <div style="margin: 124px 0px  0px 48px;">
        <div class="box-container2">
          <img src="../assets/freelancer_feature_icon_6@1.5x.png" alt="">
          <img class="img-txt-margin" src="../assets/Ace your business fi.svg" alt="">
          <img src="../assets/Manage banking, acco.svg" alt="">
        </div>
        <div class="box-container">
          <img src="../assets/Covid.png" alt="">
          <img class="img-txt-margin" src="../assets/Loans to fight COVID.svg" alt="">
          <img src="../assets/Zero EMI for first 3.svg" alt="">
        </div>
      </div>
      <div style="margin: 210px 0 0 138px ;">
        <img src="../assets/Boost your business.svg" alt="">
        <div class="rectangle-black" style="margin:52.82px 0 33.18px 0;"></div>
        <img src="../assets/Get your hands on a.svg" alt="">
        <div class="login center-text create_acc_btn" routerLink="#">Get an Open Account</div>
      </div>
    </div>
  </div>
  
</div>